/*
##############
### NAV
##############
*/
#navigation{
    margin:15px 0;
}
#navigation .nav-link{
    padding: 10px;
}
#navigation img{
    height: 50px;
    width: 100px;
}

/*
##############
### PRODUCTS
##############
*/


#navigation input{

    border: none;
       background-color: inherit;
       border-bottom: 1px solid black;
       border-radius: 0;
    }
    #navigation input:focus{
        outline: none;
    }
    
    #filter{
        padding-top: 50px;
    }
    .products .card{
        border-radius: 10%; 
        padding: 10px;
        font-family:  'Roboto',sans-serif;
        margin-bottom: 20px;
        
    }

    
/*
##############
### FOOTER
##############
*/


footer a:hover{
    text-decoration: none;
    color: #d1d1d1;
}
footer a {
  color: white;
  text-decoration: none;
  
}
#footer .col-sm-4{
   padding-top: 40px;
}
#footer .news{
    
    text-align: center;
    padding-top: 120px;
    
    
}
#footer .contact{
    
    text-align: right;
    padding-top: 100px;
    
    
}
#footer img {
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    
}

.footer-copyright{
    font-size: 16px;
}

@media screen and (max-width:320px)
{
    #footer{
        margin-top: -50px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -150px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:375px)
{
    #footer{
        margin-top: -88px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -140px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:425px)
{
    #banner .banner-subheading{
        text-align: center;
        color: #535353;
    }
    #banner .browse{
        background-color:#a1cae2 ;
        font-size: 30px;
        float: none;
        font-family: 'Roboto',sans-serif;
        color: white;
        padding: 0 40px;
    }
    #footer{
        margin-top: -100px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -140px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:768px)
{
    #footer{
        margin-top: -180px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -360px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:1024px)
{
    #footer{
        margin-top: -240px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -410px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:1440px)
{
    #footer{
        margin-top: -450px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -790px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}