


#navigation input{

    border: none;
       background-color: inherit;
       border-bottom: 1px solid black;
       border-radius: 0;
    }
    #navigation input:focus{
        outline: none;
    }
    
    #products{
        padding-top: 50px;
        font-family: 'Roboto',sans-serif;
        
    }
    .products .card{
        border-radius: 25px; 
        padding: 10px;
        font-family:  'Roboto',sans-serif;
        margin-bottom: 20px;
        
        
    }
    .products img{
        padding: 30px;
        background-color: #f4f9f9;
        border-radius: 25px;

       }

    

@media screen and (max-width:575px){
    .products .card, .filter{
        max-width: 19rem;
    }
}

